.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    

}

.sidebar {
background-color: lightblue;
grid-row: span 2;
}

.header {
background-color: aliceblue;
}

.article {
background-color: lightgrey;
}